html, body {
    background-color: #2f2fa2 !important;   
}

.div-fst {
    text-align: center;
    margin-top: 7rem;
}

.feast-logo {
    color: white !important;
    text-decoration: none;
    display: block;
}

.feast-btn {
    color: #2f2fa2;
    background-color: white;
    border: none;
    border-radius: 3px;
    display: block;
}


